@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-lg-9 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Categories</h4>
            <p class="card-description">
                <button type="button" class="btn btn-success">Success</button>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>category Name</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jacob</td>
                            <td>53275531</td>
                            <td><button type="button" class="btn btn-warning">Update</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <td>Messsy</td>
                            <td>53275532</td>
                            <td><button type="button" class="btn btn-warning">Warning</button></td>
                            <td><button type="button" class="btn btn-danger">Danger</button></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>