
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="Themes Industry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose studio and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="Creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, studio, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, studio, masonry, grid, faq">
    <!-- Page Title -->
    <title>Food | MegaOne HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="food/img/favicon.ico">
    <!-- Bundle -->
    <link rel="stylesheet" href="~/vendor/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="~/vendor/css/revolution-settings.min.css">
    <link rel="stylesheet" href="~/vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/css/swiper.min.css">
    <link rel="stylesheet" href="~/vendor/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/vendor/css/LineIcons.min.css">
    <link rel="stylesheet" href="~/vendor/css/jquery-ui.bundle.css">
    <link rel="stylesheet" href="~/vendor/css/select2.min.css">
    <link rel="stylesheet" href="~/vendor/css/slick-theme.css">
    <link rel="stylesheet" href="~/vendor/css/slick.css">
    <!--    <link rel="stylesheet" href="~/vendor/css/animate.css">-->
    <!-- Style Sheet -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="90" class="position-relative">

    <!--Preloader-->

    <div class="loader" id="loader-fade">
        <div class="loader-wrapper">
            <img src="~/img/cooking_loader_2.gif" alt="image">
        </div>
    </div>

    <!--End Preloader-->

    <div class="wrapper">

        <!--Header Section-->
        <header class="header-with-topbar style-two">
            <div class="top-header-area d-none d-lg-inline-block transparent-bg center-logo">
                <div class="container">
                    <div class="row">
                        <a href="#home" class="logo link" title="logo">
                            <img src="~/img/logo.png" alt="logo" title="Logo" class="logo-default">
                        </a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-top-default navbar-expand-lg full-nav center-logo nav-line">
                <div class="container">
                    <a class="logo link" href="javascript:void(0)">
                        <img src="~/img/logo.png" alt="logo" title="Logo" class="logo-default d-lg-none">
                        <img src="~/img/logo.png" alt="logo" title="Logo" class="logo-scrolled">
                    </a>
                    <div class="collapse navbar-collapse d-none d-lg-block">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="scroll nav-link link active" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="scroll nav-link link" href="#food">Our Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="scroll nav-link link" href="#booking">Delicious Food</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="scroll nav-link link" href="#deal">Mega Deal</a>
                            </li>
                            <li class="nav-item">
                                <a class="scroll nav-link link" href="#contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="social_icons">
                        <ul>
                            <li><a href="#." class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                            <li><a href="#." class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                            <li><a href="#." class="linkedin-bg-hvr"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                            <li><a href="#." class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                        </ul>
                    </div>

                    <div class="side-nav-btn" id="sidemenu_toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </nav>

            <!-- Side Menu -->
            <div class="side-menu dnone">
                <div class="inner-wrapper nav-icon">
                    <span class="btn-close link" id="btn_sideNavClose"></span>
                    <nav class="side-nav w-100">
                        <div class="navbar-nav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link link scroll active" href="#home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link scroll" href="#food">Our Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link scroll" href="#booking">Delicious Food</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link scroll" href="#deal">Mega Deal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link scroll" href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="side-footer text-white w-100">
                        <ul class="social-icons-simple">
                            <li class="side-menu-icons"><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f color-white"></i> </a> </li>
                            <li class="side-menu-icons"><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter color-white"></i> </a> </li>
                            <li class="side-menu-icons"><a href="javascript:void(0)" class="linkedin-bg-hvr"><i class="fab fa-linkedin-in color-white"></i> </a> </li>
                            <li class="side-menu-icons"><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram color-white"></i> </a> </li>

                        </ul>
                        <p class="text-white">&copy; 2020 MegaOne. Made With Love by Themesindustry</p>
                    </div>
                </div>
            </div>
            <a id="close_side_menu" href="javascript:void(0);"></a>
            <!--Side Menu-->
        </header>
        <!--End Header Section-->
        <section id="home" class="p-0 h-100">
            <h2 class="d-none">heading</h2>

            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="megaone-food-slider1" data-source="gallery" style="background:transparent;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
                <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <!--<img src="img/transparent.png" data-bgcolor='#ffffff' style='background:#ffffff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>-->
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['3','2','-5','-5']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-110','-126','-112','0']"
                                 data-fontsize="['44','40','35','26']"
                                 data-lineheight="['70','70','40','40']"
                                 data-width="['none','none','280','200']"
                                 data-height="['none','150','150','150']"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":339.84375,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 5; white-space: nowrap; font-size: 48px; line-height: 70px; font-weight: 400; color: #444444; letter-spacing: 0px;font-family:Playfair Display;">
                                Mouth Watering
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                                 id="slide-1-layer-3"
                                 data-x="['center','center','center','center']" data-hoffset="['7','0','-10','-10']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['3','-84','-97','0']"
                                 data-fontsize="['80','70','60','36']"
                                 data-lineheight="['85','85','60','50']"
                                 data-width="['671','670','670','670']"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":829.8828125,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: nowrap; font-size: 90px; line-height: 85px; font-weight: 700; letter-spacing: 0px;font-family:Playfair Display;">
                                <span class="text-gradient">Delicious Food.</span>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-4"
                                 data-x="['center','center','center','center']" data-hoffset="['9','1','-10','-10']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['133','25','6','80']"
                                 data-fontsize="['15','18','18','14']"
                                 data-lineheight="['30','26','26','20']"
                                 data-width="['480','570','580','350']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":1319.921875,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; min-width: 570px; max-width: 570px; white-space: normal; font-size: 18px; line-height: 26px; font-weight: 400; color: #444444; letter-spacing: 0px;font-family:Roboto;">
                                One stop place for you to lorem ipsum dolor sit amet consectuere asep adispiscing set diam like heaven one stop place for you to lorem ipsum dolor sit amet consectuere adispiscing,
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-1-layer-5"
                                 data-x="['center','center','center','center']" data-hoffset="['2','2','-5','-5']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['260','121','115','176']"
                                 data-fontsize="['17','18','18','13']"
                                 data-width="['auto','150','auto','auto']"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":1759.9609375,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; max-width: 960px; font-family:Playfair Display; font-weight: 600">
                                <a class="btn btn-green btn-large rev-slider btn-rounded scroll" href="#menu">Learn More</a>
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-6"
                                 data-x="['left','left','left','left']" data-hoffset="['99','137','5000','5000']"
                                 data-y="['top','top','top','top']" data-voffset="['550','538','642','526']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":719.921875,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 9;">
                                <div class="rs-looped rs-pendulum" data-easing="" data-startdeg="-5" data-enddeg="5" data-speed="3" data-origin="80% 60%"><img src="~/img/slider-ele1.png" alt="" data-ww="['267px','184px','145px','145px']" data-hh="['270px','186px','146px','146px']" data-no-retina> </div>
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-8"
                                 data-x="['left','left','left','left']" data-hoffset="['-230','-144','50','-302']"
                                 data-y="['middle','top','top','top']" data-voffset="['40','230','172','119']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":359.9609375,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 10;">
                                <img src="~/img/slider-ele3.png" alt="" data-ww="['545px','327px','164px','164px']" data-hh="['498px','299px','151px','151px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-1-layer-10"
                                 data-x="['left','left','left','left']" data-hoffset="['190','222','1026','1026']"
                                 data-y="['top','top','top','top']" data-voffset="['320','159','168','168']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":229.8828125,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 11;">
                                <div class="rs-looped rs-pendulum" data-easing="" data-startdeg="-10" data-enddeg="5" data-speed="4" data-origin="80% 50%"><img src="~/img/slider-ele7.png" alt="" data-ww="['127px','114px','114px','114px']" data-hh="['110px','99px','99px','99px']" data-no-retina> </div>
                            </div>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-11"
                                 data-x="['left','left','left','left']" data-hoffset="['-20','146','5000','-270']"
                                 data-y="['top','top','top','top']" data-voffset="['-16','-81','-11','14']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="image"
                                 data-responsive_offset="off"
                                 data-frames='[{"delay":150,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 12;">
                                <img src="~/img/slider-ele4.png" alt="" data-ww="['167px','169px','132px','132px']" data-hh="['130px','133px','105px','105px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-12"
                                 data-x="['left','center','left','left']" data-hoffset="['1075','200','840','840']"
                                 data-y="['top','middle','top','top']" data-voffset="['1','-400','24','24']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":69.921875,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;">
                                <img src="~/img/slider-ele2.png" alt="" data-ww="['90px','105px','105px','105px']" data-hh="['85px','103px','103px','103px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-1-layer-13"
                                 data-x="['left','center','left','left']" data-hoffset="['1025','330','396','713']"
                                 data-y="['top','top','top','top']" data-voffset="['210','130','78','176']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":50,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 14;">
                                <div class="rs-looped rs-pendulum" data-easing="easeInOutQuart" data-startdeg="-5" data-enddeg="5" data-speed="5" data-origin="80% 50%"><img src="~/img/slider-ele5.png" alt="" data-ww="['220px','164px','164px','164px']" data-hh="['220px','169px','169px','169px']" data-no-retina> </div>
                            </div>

                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-15"
                                 data-x="['right','right','right','right']" data-hoffset="['-1','-1','828','828']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['84','138','138','138']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":9.9609375,"speed":1500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 15;">
                                <img src="~/img/slider-ele6.png" alt="" data-ww="['295px','191px','126px','126px']" data-hh="['465px','301px','199px','199px']" data-no-retina>
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </section>
        <!-- END REVOLUTION SLIDER -->
            @RenderBody()
        
    <!--Footer-->
    <footer class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-logo">
                        <div class="logo-max">
                        <a href="#home" class="logo link" title="logo">
                            <img src="~/img/logo.png" alt="logo" title="Logo" class="logo-default">
                        </a>
                        </div>
                        <p class="footer-width pt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12 justify-content-end d-flex">
                    <div class="footer-para">
                        <div class="contact-social-icon pb-20">
                            <ul class="social-icons mb-0">
                                <li><a href="#." class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                                <li><a href="#." class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                                <li><a href="#." class="linkedin-bg-hvr"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                                <li><a href="#." class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                            </ul>
                        </div>
                        <p class="copyright-para">© 2019 MegaOne. Made With Love By <a href="javascript:void(0);" class="grey"> Themesindustry</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->

    <!--G0 Top-->
    <div class="go-top"><i class="fas fa-chevron-up"></i><i class="fas fa-chevron-up"></i></div>
    <!--End Go Top-->

</div>

<!-- JavaScript -->
<script src="~/vendor/js/bundle.min.js"></script>
<!-- Plugin Js -->
<script src="~/vendor/js/jquery.fancybox.min.js"></script>
<script src="~/vendor/js/owl.carousel.min.js"></script>
<script src="~/vendor/js/swiper.min.js"></script>
<script src="~/vendor/js/jquery.cubeportfolio.min.js"></script>
<script src="~/vendor/js/jquery.appear.js"></script>
<script src="~/vendor/js/wow.min.js"></script>
<script src="~/vendor/js/flip.js"></script>
<script src="~/vendor/js/jquery-ui.bundle.js"></script>
<script src="~/vendor/js/select2.min.js"></script>
<script src="~/vendor/js/jquery.hoverdir.js"></script>
<script src="~/vendor/js/hover-item.js"></script>
<script src="~/vendor/js/slick.min.js"></script>
<script src="~/vendor/js/parallaxie.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="~/vendor/js/jquery.themepunch.tools.min.js"></script>
<script src="~/vendor/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="~/vendor/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/vendor/js/extensions/revolution.extension.video.min.js"></script>
<!-- custom script -->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCo_pcAdFNbTDCAvMwAD19oRTuEmb9M50c"></script>
<script src="~/js/map.js"></script>
<script src="~/vendor/js/contact_us.js"></script>
<script src="~/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
