@using MegaOneMvc.Models.Commands.Categories
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UpdateCategoryCommand

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="CategoryName">Name</label>
                    <input asp-for="CategoryName" type="text" class="form-control" placeholder="Name">
                    <span asp-validation-for="CategoryName"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ImageFile">File upload</label>
                    <input asp-for="ImageFile" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input asp-for="ImageFile" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                    <span style="color:red" asp-validation-for="ImageFile"></span>
                </div>


                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>