@{
    ViewData["Title"] = "Home Page";
}



<!--Our Menu-->
<section class="bg-light" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="zic-img">
                    <div class="img-zic">
                    <img src="~/img/ziczac.png" alt="image">
                    </div>
                    <h5 class="response py-3 mb-0">top quality food</h5>
                    <h2 class="text-capitalize">Why <span class="text-gradient">MegaOne</span> is Delicious</h2>
                </div>
            </div>
                    <div class="col-lg-6 col-md-12 mt-50">
                        <div class="rare-box">
                            <img src="~/img/about-img.jpg" class="image-about position-relative w-100 wow fadeInLeft" alt="image">
                        </div>
                    </div>
            <div class="col-lg-5 col-md-12 col-sm-12 features wow fadeInRight mt-20">
                <div class="feature-item mt-50">
                    <div class="food-features-icon">
                        <span class="icon"><i class="lni-dinner"></i></span>
                    </div>
                    <div class="features-content">
                        <p class="feature-para">We are food lovers</p>
                        <p class="max">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices. </p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="food-features-icon">
                        <span class="icon"><i class="lni-pizza"></i></span>
                    </div>
                    <div class="features-content">
                        <p class="feature-para">Diversity in food</p>
                        <p class="max">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                    </div>
                </div>
                <div class="feature-item mb-0 mb-xs-0">
                    <div class="food-features-icon">
                        <span class="icon"><i class="lni-delivery"></i></span>
                    </div>
                    <div class="features-content">
                        <p class="feature-para">100% Free Delivery</p>
                        <p class="max">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end Our Menu-->

<!--Delicious Food-->
<section class="" id="food">
    <div class="container">
        <div class="row position-relative">
            <img src="~/img/menu-img1.png" class="food-img-before wow rotateInDownLeft" data-wow-delay="300ms" alt="image">
            <img src="~/img/menu-img2.png" class="food-img-after wow rotateInDownRight" data-wow-delay="300ms" alt="image">
            <div class="col-lg-12 text-center mb-50">
                <div class="zic-img">
                    <div class="img-zic">
                        <img src="~/img/ziczac2.png" alt="image">
                    </div>
                    <h5 class="response my-3 mb-0">checkout the food</h5>
                    <h2 class="text-capitalize text-gradient">Our Delicious Menu</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">


            <div class="tab-to-accordion">
            <ul class="tabset-list d-flex justify-content-center justify-content-sm-between align-items-center mb-5 text-center flex-column flex-sm-row">
                <li class="icon-up breakfast mb-4 mb-sm-0"><a href="#tab1">
                    <div class="bg-light-grey icon-font pb-10">
                    <div class="icon bg-light-grey"><i class="lni-teabag"></i></div>
                </div>
                    <h3 class="bg-light-grey text-capitalize">Breakfast</h3></a>
                </li>
                <li class="active icon-up mb-4 mb-sm-0"><a href="#tab2"><div class=" bg-light-grey icon-font pb-10">
                    <div class="icon bg-light-grey"><i class="lni-chef-hat"></i></div>
                </div>
                    <h3 class="bg-light-grey text-capitalize">Lunch</h3></a>
                </li>
                <li class="icon-up dinner"><a href="#tab3"><div class=" bg-light-grey icon-font pb-10">
                    <div class="icon bg-light-grey"><i class="lni-dinner"></i></div>
                </div>
                    <h3 class="bg-light-grey text-capitalize dinner">Dinner</h3></a>
                </li>
            </ul>

                <div class="tab-container">
                    <div id="tab1">
                        <div class="d-flex justify-content-lg-between flex-column flex-lg-row">
                            <div class="mt-30 da-thumbs food-menu">
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">survived not only five centuries but the leap</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 22.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Prawns butter garlic</p>
                                            <p class="mb-4">Donec eget augue at diam euismod viverra</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span>39.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Plain pancakes</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span>60.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Ultimate organic fruit salad</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 68.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 85.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-30 ml-lg-5 da-thumbs food-menu">
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Plain pancakes</p>
                                            <p class="mb-4">survived not only five centuries but the leap</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span>68.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">Donec eget augue at diam euismod viverra</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 50.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Sode kadai</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span>49.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Ultimate organic fruit salad</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 22.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Surmai chilli</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 39.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="d-flex justify-content-lg-between flex-column flex-lg-row">
                            <div class="mt-30 da-thumbs food-menu">
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Plain pancakes</p>
                                            <p class="mb-4">survived not only five centuries but the leap</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 60.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Ultimate organic fruit salad</p>
                                            <p class="mb-4">Donec eget augue at diam euismod viverra</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 68.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 22.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Prawns butter garlic</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 39.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 85.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-30 ml-lg-5 da-thumbs food-menu">
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">survived not only five centuries but the leap</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 50.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Plain pancakes</p>
                                            <p class="mb-4">Donec eget augue at diam euismod viverra</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 68.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Ultimate organic fruit salad</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 22.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Surmai chilli</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 39.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Sode kadai</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 49.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab3">
                        <div class="d-flex justify-content-lg-between flex-column flex-lg-row">
                            <div class="mt-30 da-thumbs food-menu">
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Surmai chilli</p>
                                            <p class="mb-4">survived not only five centuries but the leap</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 39.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Ultimate organic fruit salad</p>
                                            <p class="mb-4">Donec eget augue at diam euismod viverra</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 68.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Sode kadai</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 49.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Prawns butter garlic</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 39.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price mr-0 mr-lg-5">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-2"><span class="price text-gradient">$</span> 85.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-30 ml-lg-5 da-thumbs food-menu">
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">survived not only five centuries but the leap</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 39.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Ultimate organic fruit salad</p>
                                            <p class="mb-4">Donec eget augue at diam euismod viverra</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 85.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Plain pancakes</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 66.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Surmai chilli</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 50.00</div>
                                        </div>
                                    </div>
                                    <span class="hr-line"></span>
                                </div>
                                <div class="menu-price">
                                    <div class="overlay"></div>
                                    <div class="d-flex justify-content-between pt-20">
                                        <div class="position-relative food-menu-list">
                                            <p class="text-capitalize menu-heading mb-10">Toasted jam</p>
                                            <p class="mb-4">Phasellus a ex accumsan, sollicitudin</p>
                                        </div>
                                        <div>
                                            <div class="text-gradient price2 mr-2 mt-10"><span class="price text-gradient">$</span> 22.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</section>
<!--End Delicious Food-->

<!--Parallex Sec-->
<section class="parallax parallaxie">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInRight">
                <div class="row justify-content-center justify-content-md-start flex-column flex-md-row">
                    <div class="col-md-3 pt-4 text-center text-md-left mb-4 mb-md-0 parallax-padding">
                        <h3 class="text-white head-25">Taste of <span class="green Roboto">25 <span class="green Playfair">Years</span></span> and counting...</h3>
                            <p class="text-white max-200 mt-20 margin-991 mx-auto ml-md-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit viverra ultrices.</p>
                               <a href="#" class="btn btn-gradient btn-large btn-rounded">Read More</a>
                    </div>
                    <div class="col-md-3  two d-flex justify-content-center flex-column white-color flip  mb-4 mb-md-0 mx-auto">
                        <div class="front">
                        <div class="icon-block">
                        <div class="counter-item">
                        <div class="counter-icon">
                            <i class="lni-coffee-cup"></i>
                        </div>
                        </div>
                        <div class="counters">
                            <h3 class="text-capitalize"><span class="count_nums num-scrolling text-white" data-to="9500" data-speed="2500">3785</span><span class="text-white plus-icon">+</span></h3>
                        </div>
                        <p class="num-counts mt-10 text-white">Cup Of Tea</p>
                        </div>
                        </div>
                        <div class="back">
                            <div class="icon-block">
                                <div class="counter-item">
                                    <div class="counter-icon">
                                        <i class="lni-coffee-cup"></i>
                                    </div>
                                </div>
                                <div class="counters">
                                    <h3 class="text-capitalize"><span class="count_nums num-scrolling text-white" data-to="9500" data-speed="2500">3785</span><span class="text-white plus-icon">+</span></h3>
                                </div>
                                <p class="num-counts mt-10 text-white">Cup Of Tea</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 two d-flex justify-content-center flex-column white-color flip  mb-4 mb-md-0 mx-auto">
                       <div class="front">
                        <div class="icon-block">
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <i class="lni-service"></i>
                                </div>
                            </div>
                            <div class="counters">
                                <h3 class="text-capitalize"><span class="count_nums num-scrolling text-white" data-to="9500" data-speed="2500">9800</span><span class="text-white plus-icon">+</span></h3>
                            </div>
                            <p class="num-counts mt-10 text-white">Satisified Customers</p>
                        </div>
                       </div>
                        <div class="back">
                            <div class="icon-block">
                                <div class="counter-item">
                                    <div class="counter-icon">
                                        <i class="lni-service"></i>
                                    </div>
                                </div>
                                <div class="counters">
                                    <h3 class="text-capitalize"><span class="count_nums num-scrolling text-white" data-to="9500" data-speed="2500">9800</span><span class="text-white plus-icon">+</span></h3>
                                </div>
                                <p class="num-counts mt-10 text-white">Satisified Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 px-0 mx-3 two d-flex justify-content-center flex-column white-color flip mx-auto">
                        <div class="front">
                        <div class="icon-block">
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <i class="lni-burger"></i>
                                </div>
                            </div>
                            <div class="counters">
                                <h3 class="text-capitalize"><span class="count_nums num-scrolling text-white" data-to="9500" data-speed="2500">1052</span><span class="text-white plus-icon">+</span></h3>
                            </div>
                            <p class="num-counts mt-10 text-white">Online Orders</p>
                        </div>
                        </div>
                        <div class="back">
                            <div class="icon-block">
                                <div class="counter-item">
                                    <div class="counter-icon">
                                        <i class="lni-burger"></i>
                                    </div>
                                </div>
                                <div class="counters">
                                    <h3 class="text-capitalize"><span class="count_nums num-scrolling text-white" data-to="9500" data-speed="2500">1052</span><span class="text-white plus-icon">+</span></h3>
                                </div>
                                <p class="num-counts mt-10 text-white">Online Orders</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Parallaex Sec-->

    <!--Booking sec-->
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="book-img-width">
                <img src="~/img/booking-1.png" class="food-img2-before wow rollIn" data-wow-delay="300ms" alt="image">
                </div>
                <div class="book-img-width2">
                <img src="~/img/slider-ele1.png" class="food-img2-after wow rotateInDownRight" data-wow-delay="300ms" alt="image">
                </div>
                <div class="col-lg-12 text-center">
                    <div class="zic-img">
                        <div class="img-zic">
                            <img src="~/img/ziczac.png" alt="image">
                        </div>
                        <h5 class="response my-3 mb-0">have an event?</h5>
                        <h2 class="text-capitalize mb-20">Book <span class="text-gradient">MegaOne</span> Now</h2>
                        <p class="booking-para mt-4">One stop place for you to lorem ipsum dolor sit amet consectuere asep adispiscing set diam like heaven one stop place for you to lorem ipsum dolor sit amet consectuere adispiscing,</P>
                        <a href="#contact" class="btn btn-green btn-large btn-rounded mt-50">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Booking-->

    <!--Gallery-->
    <section class="gallery portfolio-three pb-0" id="booking">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center mb-50">
                    <div class="zic-img">
                        <div class="img-zic">
                            <img src="~/img/ziczac2.png" alt="image">
                        </div>
                        <h5 class="response my-3 mb-0">our food gallery</h5>
                        <h2 class="text-capitalize text-gradient">Our Delicious Food</h2>
                    </div>
                </div>
            </div>

         <div class="row m-0">
                <!-- gallery item -->
                <div class="col-md-2 items web">
                    <div class="item-img">
                        <a href="food/img/gallery-img1.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img1.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Egg Special</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-8 items web">
                    <div class="item-img">
                        <a href="food/img/gallery-img2.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img2.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Grill Beef</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-2 items web">
                    <div class="item-img">
                        <a href="food/img/gallery-img3.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img3.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Chicken Veggie Bread</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items graphic brand">
                    <div class="item-img">
                        <a href="food/img/gallery-img4.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img4.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Fries n Salad</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items brand">
                    <div class="item-img">
                        <a href="food/img/gallery-img5.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img5.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Chicago Pizza</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items graphic">
                    <div class="item-img">
                        <a href="food/img/gallery-img6.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img6.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Grill Burger</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items graphic">
                    <div class="item-img">
                        <a href="food/img/gallery-img7.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img7.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Cheese Pizza</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items graphic">
                    <div class="item-img">
                        <a href="food/img/gallery-img8.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img8.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Fish Burger</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items graphic">
                    <div class="item-img">
                        <a href="food/img/gallery-img9.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img9.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Egg Noodles</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items graphic">
                    <div class="item-img">
                        <a href="food/img/gallery-img10.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img10.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Veggie</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-3 items graphic">
                    <div class="item-img">
                        <a href="food/img/gallery-img11.jpg" data-fancybox="images">
                            <img src="~/img/gallery-img11.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info text-center">
                                    <span class="dinner-hover mb-3 gradient-bg1"><i class="lni-dinner"></i></span>
                                    <h5 class="text-white">Chicken Wraps</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End Gallery-->

    <!--Mega Deal-->
    <section class="mega-deal bg-light" id="deal">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-block m-auto">
                    <div class="zic-img">
                        <div class="img-zic">
                            <img src="~/img/ziczac2.png" alt="image">
                        </div>
                        <h5 class="response my-3 mb-0">taste our food</h5>
                        <h2 class="text-capitalize text-gradient mb-50">Our Mega Deals</h2>
                    </div>
                    <div class="row">
                        <div id="deal-slider" class="owl-carousel owl-theme">
                        <div class="item item-deal">
                            <!--Deal Item-->
                            <div class="mega-deal-item">
                                <!--Deal Img-->
                                <div class="deal-img">
                                    <img src="~/img/deal-img1.jpg" alt="image">
                                </div>
                            </div>
                            <!--Deal Text-->
                            <p class="deal-text feature-para text-left mt-40 mb-20">Two Person Deal</p>
                            <p class="text-left deal-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                            <!--Deal Price-->
                            <div>
                                <div class="text-gradient price2 text-left"><span class="text-gradient">$</span>99</div>
                            </div>
                        </div>
                            <div class="item item-deal">
                                <!--Deal Item-->
                                <div class="mega-deal-item">
                                    <!--Deal Img-->
                                    <div class="deal-img">
                                        <img src="~/img/deal-img2.jpg" alt="image">
                                    </div>
                                </div>
                                <!--Deal Text-->
                                <p class="deal-text feature-para text-left mt-40 mb-20">Midnight Feast</p>
                                <p class="text-left deal-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                                <!--Deal Price-->
                                <div>
                                    <div class="green price2 text-left"><span class="green">$</span>199</div>
                                </div>
                            </div>
                            <div class="item item-deal">
                                <!--Deal Item-->
                                <div class="mega-deal-item">
                                    <!--Deal Img-->
                                    <div class="deal-img">
                                        <img src="~/img/deal-img3.jpg" alt="image">
                                    </div>
                                </div>
                                <!--Deal Text-->
                                <p class="deal-text feature-para text-left mt-40 mb-20">Weekend Brunch</p>
                                <p class="text-left deal-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                                <!--Deal Price-->
                                <div>
                                    <div class="text-gradient price2 text-left"><span class="text-gradient">$</span>149</div>
                                </div>
                            </div>
                            <div class="item item-deal">
                                <!--Deal Item-->
                                <div class="mega-deal-item">
                                    <!--Deal Img-->
                                    <div class="deal-img">
                                        <img src="~/img/deal-img1.jpg" alt="image">
                                    </div>
                                </div>
                                <!--Deal Text-->
                                <p class="deal-text feature-para text-left mt-40 mb-20">Two Person Deal</p>
                                <p class="text-left deal-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                                <!--Deal Price-->
                                <div>
                                    <div class="text-gradient price2 text-left"><span class="text-gradient">$</span>99</div>
                                </div>
                            </div>
                            <div class="item item-deal">
                                <!--Deal Item-->
                                <div class="mega-deal-item">
                                    <!--Deal Img-->
                                    <div class="deal-img">
                                        <img src="~/img/deal-img2.jpg" alt="image">
                                    </div>
                                </div>
                                <!--Deal Text-->
                                <p class="deal-text feature-para text-left mt-40 mb-20">Midnight Feast</p>
                                <p class="text-left deal-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                                <!--Deal Price-->
                                <div>
                                    <div class="green price2 text-left"><span class="green">$</span>199</div>
                                </div>
                            </div>
                            <div class="item item-deal">
                                <!--Deal Item-->
                                <div class="mega-deal-item">
                                    <!--Deal Img-->
                                    <div class="deal-img">
                                        <img src="~/img/deal-img3.jpg" alt="image">
                                    </div>
                                </div>
                                <!--Deal Text-->
                                <p class="deal-text feature-para text-left mt-40 mb-20">Weekend Brunch</p>
                                <p class="text-left deal-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                                <!--Deal Price-->
                                <div>
                                    <div class="text-gradient price2 text-left"><span class="text-gradient">$</span>149</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Mega Deal-->

    <!--Testimonial-->
    <section id="client" class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--Testimonials with background 02-->
                    <div class="feedback-slides">
                        <div class="client-thumbnails">
                            <div>
                                <div class="item">
                                    <div class="img-fill"><img src="~/img/testimonial-1.jpg" alt="client"></div>

                                    <div class="title">
                                        <h3 class="text-gradient text-center mt-30 font-weight-600">John Terry</h3>
                                        <p class="text-white text-center pt-10 testi-heading">New York City</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="img-fill"><img src="~/img/testimonial-2.jpg" alt="client"></div>

                                    <div class="title">
                                        <h3 class="text-gradient text-center mt-30 font-weight-600">Jessica Miller</h3>
                                        <p class="text-white text-center pt-10 testi-heading">New York City</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="img-fill"><img src="~/img/testimonial-3.jpg" alt="client"></div>

                                    <div class="title">
                                        <h3 class="text-gradient text-center mt-30 font-weight-600">David Muller</h3>
                                        <p class="text-white text-center pt-10 testi-heading">New York City</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="img-fill"><img src="~/img/testimonial-2.jpg" alt="client"></div>

                                    <div class="title">
                                        <h3 class="text-gradient text-center mt-30 font-weight-600">Jessica Miller</h3>
                                        <p class="text-white text-center pt-10 testi-heading">New York City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client-feedback">
                            <div>
                                <div class="item">
                                    <div class="single-feedback">
                                        <p class="text-white">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse ultrices gravida.”</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="single-feedback">
                                        <p class="text-white">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna. Quis ipsum suspendisse ultrices gravida.”</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="single-feedback">
                                        <p class="text-white">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse ultrices gravida.”</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="single-feedback">
                                        <p class="text-white">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna. Quis ipsum suspendisse ultrices gravida.”</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Testimonials with background ends-->
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial-->

    <!--Blog-->
    <section class="our-blog" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-50">
                    <div class="zic-img">
                        <div class="img-zic">
                            <img src="~/img/ziczac.png" alt="image">
                        </div>
                        <h5 class="response my-3 mb-0">top quality recipes</h5>
                        <h2 class="text-capitalize mb-20 blog-h2">Read <span class="text-gradient">MegaOne’s</span> Blogs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-img">
                        <div class="img-blog">
                        <img src="~/img/blog-img1.jpg" alt="blog1">
                        </div>
                        <div class="pt-20 pb-10">
                        <a href="food/blog.html" class="blog-para grey">Home made food for your office</a>
                        </div>
                        <p class="blog-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim viverra ultrices.</p>
                        <a href="food/blog.html" class="green text-uppercase blog-btn d-inline-block">read more<i class="lni-angle-double-right angle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 pl-25">
                    <div class="blog-img">
                        <div class="img-blog">
                        <img src="~/img/blog-img2.jpg" alt="blog2">
                        </div>
                        <div class="blog-taste pt-20 pb-20">
                        <a href="food/blog.html" class="blog-para grey">A Lunch Full of Spices & Taste</a>
                        </div>
                        <a href="food/blog.html" class="green text-uppercase blog-btn d-inline-block">read more<i class="lni-angle-double-right angle-right"></i></a>
                    </div>

                    <div class="blog-img mt-30">
                        <div class="img-blog">
                        <img src="~/img/blog-img3.jpg" alt="blog3">
                        </div>
                        <div class="blog-taste2 pt-20 pb-20">
                        <a href="food/blog.html" class="blog-para grey">Midnight Deals are Perfect for yourself</a>
                        </div>
                        <div class="blog-btn2">
                        <a href="food/blog.html" class="text-gradient text-uppercase blog-btn btn-hvr-green pb-0 d-inline-block">read more<i class="lni-angle-double-right angle-right2"></i></a>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Blog-->

    <!--Contact Section-->

    <div id="google-map" class="bg-light map">
    </div>
    <section class="contact-us bg-light" id="contact">

        <div class="container">
            <div class="row pb-0">
                <div class="col-md-6">
                    <div class="contact">
                        <h2 class="text-capitalize mb-30">Contact <span class="text-gradient"> MegaOne</span></h2>
                        <div class="icon-flex">
                        <p class="contact-detail maxi mb-3"><i class="fa fa-home contact-icon"></i> 379 5th Ave New York, United States.</p>
                        </div>
                        <p class="contact-detail"><i class="fa fa-clock contact-icon"></i> Tuesday-Monday: 9:00am-6:00pm</p>
                        <p class="contact-detail"><i class="fa fa-envelope-open contact-icon"></i> example@website.com</p>
                        <p class="contact-detail"><i class="fa fa-phone contact-icon"></i> Phone: +1-23-456789</p>
                    </div>
                    </div>
                <div class="col-md-6">
                    <div class="book-table">
                        <h2 class="table-booking mb-30">Book a <span class="text-gradient"> Table</span></h2>
                    </div>
                    <form class="contact-form" id="contact-form-data">
                        <div class="row">
                            <div class="col-sm-12" id="result"></div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="userName" class=" form-control m-mb-20" placeholder="Your Name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="email" name="userEmail" class=" form-control m-mb-20" placeholder="Your Email">
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="position-relative m-mb-20">
                                    <input type="text" id="my-date" name="reservationDate" placeholder="12 / 01 / 2020" class=" form-control datepicker">
                                    <label for="my-date"  class="position-absolute m-label pointer-none">
                                        <span class="calender-line"></span>
                                        <i class="fa fa-caret-down"></i>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="position-relative mb-20">
                                    <select title="" class=" js-example-basic-single" name="reserveTime">
                                        <option value="7:00">7:00 PM</option>
                                        <option value="8:00">8:00 PM</option>
                                        <option value="9:00">9:00 PM</option>
                                        <option value="10:00">10:00 PM</option>
                                        <option value="11:00">11:00 PM</option>
                                        <option value="12:00">12:00 AM</option>
                                        <option value="1:00">1:00 AM</option>
                                        <option value="2:00">2:00 AM</option>
                                        <option value="3:00">3:00 AM</option>
                                    </select>
                                    <label class="position-absolute m-label pointer-none">
                                        <span class="calender-line"></span>
                                        <i class="fa fa-caret-down"></i>
                                    </label>
                                </div>
                                </div>
                            <div class="col-md-6 text-center text-md-left">
                                <a href="javascript:void(0);" class="btn btn-green btn-large btn-rounded d-inline-block contact_btn"><i class="fa fa-spinner fa-spin mr-2 d-none" aria-hidden="true"></i> <b>Book Now</b></a>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
    </section>

    <!--End Contact Section-->


