@using MegaOneMvc.Models.Commands.Deals
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CreateDealCommand

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="DealName">Name</label>
                    <input asp-for="DealName" type="text" class="form-control" placeholder="Name">
                    <span asp-validation-for="DealName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" type="text" class="form-control" placeholder="Name">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" type="text" class="form-control" placeholder="Name">
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImgFile">File upload</label>
                    <input asp-for="ImgFile" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input asp-for="ImgFile" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                    <span style="color:red" asp-validation-for="ImgFile"></span>
                </div>


                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
